# for the actual pip requirements, look in pyproject.toml 
# these include deps for all optional installs as well
codetiming==1.4.0
memory_profiler==0.61.0
pandas==2.0.3
pytest==7.4.3
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm>=4.66.3
