<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css" rel="stylesheet">
<style>
:root {
  --sy-f-text: 'Readex Pro Deca', var(--sy-f-sys), sans-serif;
  --sy-f-mono: 'Hack', monospace;
}
</style>